<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TrayTemperature.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TrayTemperature.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <TrayTemperature.Properties.Settings>
            <setting name="Celsius" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Refresh" serializeAs="String">
                <value>1</value>
            </setting>
        </TrayTemperature.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TrayTemperature.Properties.Settings>
            <setting name="CPUMed" serializeAs="String">
                <value>#ffff00</value>
            </setting>
            <setting name="CPULow" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="CPUHigh" serializeAs="String">
                <value>#ff0000</value>
            </setting>
            <setting name="CPUTempMed" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="CPUTempHigh" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="GPULow" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="GPUMed" serializeAs="String">
                <value>#ffff00</value>
            </setting>
            <setting name="GPUHigh" serializeAs="String">
                <value>#ff0000</value>
            </setting>
            <setting name="GPUTempMed" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="GPUTempHigh" serializeAs="String">
                <value>85</value>
            </setting>
        </TrayTemperature.Properties.Settings>
    </applicationSettings>
</configuration>
